NUXT_PUBLIC_BACKEND_API_URL='Backend API URL' # (should end with '/')
AUTH_ORIGIN='Frontend URL' # (should end with '/')
NUXT_AUTH_SECRET='Frontend auth secret'
NUXT_OIDC_CLIENT_ID='oidc-client-id'
NUXT_OIDC_ISSUER='oidc-issuer-url'
