NUXT_PUBLIC_BACKEND_API_URL=http://localhost:8080/shepard/api
AUTH_ORIGIN=http://localhost:3000/
AUTH_SECRET=<some-random-generated-secret>
OIDC_CLIENT_ID=<oidc-client-id>
OIDC_ISSUER=<oidc-issuer-url>
