NUXT_PUBLIC_BACKEND_API_URL='Backend API URL' # (should end with '/')
AUTH_ORIGIN='Frontend URL'                    # (should end with '/api/auth')
NUXT_AUTH_SECRET='Frontend auth secret'
NUXT_OIDC_CLIENT_ID='oidc-client-id'
NUXT_OIDC_ISSUER='oidc-issuer-url'
SESSION_REFRESH_INTERVAL=30000 # refresh user session every X milliseconds (default to 30 secs)
