# Initial version generated with https://www.toptal.com/developers/gitignore

# Exclude idea files
.idea/

# Output
out/

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# Java annotation processor (APT)
.factorypath

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/


### Cypress ###
cypress/videos/
cypress/screenshots/

# NPM
node_modules

# Ignore generated client
clients/typescript
clients/python

# docToolChain
build/
.gradle/

# environment files except .env.example
*.env
!.env.example
