# Ignore all python files
*.py

# Target directory
**/target/**/*
.m2
.venv

# Generated frontend code
frontend/src/generated/*
frontend/dist/*

# Generated nuxtend code
nuxtend/.nuxt/*
nuxtend/.output/*
