####################################
### docker compose configuration ###
####################################

VUE_APP_BACKEND=http://localhost:8080/shepard/api

# Link to the OIDC provider (including realm)
VUE_APP_OIDC_AUTHORITY=<OIDC_AUTHORITY_LINK>
# ClientId in OIDC provider for authentication
VUE_APP_CLIENT_ID=<OIDC_CLIENT_ID>

NEO4J_AUTH=neo4j/shepardshepard

INFLUXDB_ADMIN_USER=influx
INFLUXDB_ADMIN_PASSWORD=shepard

# MongoDB Setup
MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=shepard
MONGO_INITDB_DATABASE=database

MONGO_USERNAME=username
MONGO_PASSWORD=password

#Postgres Setup
POSTGRES_DB=postgres
## These are the credentials for the postgres admin account
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
## These are the credentials for the shepard user account
POSTGRES_SHEPARD_USER=shepard
POSTGRES_SHEPARD_USER_PW=shepard_secret


#############################
### quarkus configuration ###
#############################

# Link to the OIDC provider (including realm)
oidc.authority=<OIDC_AUTHORITY_LINK>
# Public key of the OIDC provider
oidc.public=<OIDC_PUBLIC_KEY>
# Optional, see https://gitlab.com/dlr-shepard/shepard/-/tree/main/infrastructure#restrict-access-to-users-with-specific-roles
oidc.role=

quarkus.mongodb.connection-string=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@[::1]:27017/${MONGO_INITDB_DATABASE}

influx.host=[::1]:8086
influx.username=influx
influx.password=shepard

neo4j.host=[::1]:7687
neo4j.username=neo4j
neo4j.password=shepardshepard

quarkus.datasource.jdbc.url=jdbc:postgresql://localhost:5432/${POSTGRES_DB}
quarkus.datasource.username=${POSTGRES_SHEPARD_USER}
quarkus.datasource.password=${POSTGRES_SHEPARD_USER_PW}
