### quarkus configuration
# Link to the OIDC provider (including realm)
oidc.authority=<OIDC_AUTHORITY_LINK>
# Public key of the OIDC provider
oidc.public=<OIDC_PUBLIC_KEY>
# Optional, see https://gitlab.com/dlr-shepard/shepard/-/tree/main/infrastructure#restrict-access-to-users-with-specific-roles
oidc.role=

quarkus.mongodb.connection-string=mongodb://mongo:shepard@[::1]:27017

influx.host=[::1]:8086
influx.username=influx
influx.password=shepard

neo4j.host=[::1]:7687
neo4j.username=neo4j
neo4j.password=shepard

### docker compose configuration

VUE_APP_BACKEND=http://localhost:8080/shepard/api

# Link to the OIDC provider (including realm)
VUE_APP_OIDC_AUTHORITY=<OIDC_AUTHORITY_LINK>
# ClientId in OIDC provider for authentication
VUE_APP_CLIENT_ID=<OIDC_CLIENT_ID>

NEO4J_AUTH=neo4j/shepard

MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=shepard

INFLUXDB_ADMIN_USER=influx
INFLUXDB_ADMIN_PASSWORD=shepard
