### quarkus configuration
# Link to the OIDC provider (including realm)
oidc.authority=<OIDC_AUTHORITY_LINK>
# Public key of the OIDC provider
oidc.public=<OIDC_PUBLIC_KEY>
# Optional, see https://gitlab.com/dlr-shepard/shepard/-/tree/main/infrastructure#restrict-access-to-users-with-specific-roles
oidc.role=

### docker compose configuration

quarkus.mongodb.connection-string=mongodb://mongo:shepard@[::1]:27017

influx.host=[::1]:8086
influx.username=influx
influx.password=shepard

neo4j.host=localhost:7687
neo4j.username=neo4j
neo4j.password=shepard

# Link to the OIDC provider (including realm)
VUE_APP_OIDC_AUTHORITY=<OIDC_AUTHORITY_LINK>
# ClientId in OIDC provider for authentication
VUE_APP_CLIENT_ID=<OIDC_CLIENT_ID>
