# quarkus configuration
oidc.public=<OIDC_PUBLIC_KEY>
oidc.authority=<OIDC_AUTHORITY_LINK>
oidc.role=

quarkus.mongodb.connection-string=mongodb://mongo:shepard@[::1]:27017

influx.host=[::1]:8086
influx.username=influx
influx.password=shepard

neo4j.host=localhost:7687
neo4j.username=neo4j
neo4j.password=shepard

# docker compose configuration
VUE_APP_OIDC_AUTHORITY=<OIDC_AUTHORITY_LINK>
VUE_APP_CLIENT_ID=<OIDC_CLIENT_ID>
