BACKEND_URL="Backend URL"
NEO4J_PW="secret"
OIDC_AUTHORITY="Keycloak realm URL"
OIDC_PUBLIC="Keycloak public key"
OIDC_ROLE="Optional role to restrict access"
CLIENT_ID="Frontend client ID"

# MongoDB Setup
MONGO_ROOT_USERNAME="mongo"
MONGO_ROOT_PASSWORD="secret"

MONGO_DATABASE="database"
MONGO_USERNAME="mongo_user"
MONGO_PASSWORD="secret"

# Grafana Setup
GRAFANA_ADMIN_USERNAME="shepard"
GRAFANA_ADMIN_PASSWORD="secret"

# Postgres Setup
POSTGRES_DB="postgres"
## These are the credentials for the postgres admin account
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
## These are the credentials for the shepard user account
POSTGRES_SHEPARD_USER="shepard"
POSTGRES_SHEPARD_USER_PW="shepard_secret"

# Only required until migration in https://gitlab.com/dlr-shepard/shepard/-/merge_requests/389#migration-instructions is done
INFLUX_PW="secret"

# Required for experimental use

FRONTEND_URL="Frontend URL"
FRONTEND_AUTH_SECRET="Frontend auth secret"
SESSION_REFRESH_INTERVAL="30000" # frontend session refresh interval in ms (defaults to 30secs)

# InfluxDb migration mode
SHEPARD_MIGRATION_MODE_ENABLED="true"

# Spatial Data mode
SHEPARD_SPATIAL_DATA_ENABLED="false"
