BACKEND_URL='Backend URL'
NEO4J_PW='secret'
INFLUX_PW='secret'
OIDC_AUTHORITY='Keycloak realm URL'
OIDC_PUBLIC='Keycloak public key'
OIDC_ROLE='Optional role to restrict access'
CLIENT_ID='Frontend client ID'

# MongoDB Setup
MONGO_ROOT_USERNAME=mongo
MONGO_ROOT_PASSWORD=secret

MONGO_DATABASE=database
MONGO_USERNAME=mongo_user
MONGO_PW=secret

# Required for experimental use

# Postgres Setup
POSTGRES_DB=postgres
## These are the credentials for the postgres admin account
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
## These are the credentials for the shepard user account
POSTGRES_SHEPARD_USER=shepard
POSTGRES_SHEPARD_USER_PW=shepard_secret

FRONTEND_URL='Frontend URL'
FRONTEND_AUTH_SECRET='Frontend auth secret'
