BACKEND_URL='Backend URL'
NEO4J_PW='secret'
MONGO_PW='secret'
POSTGRES_PW='shepard'
INFLUX_PW='secret'
OIDC_AUTHORITY='Keycloak realm URL'
OIDC_PUBLIC='Keycloak public key'
OIDC_ROLE='Optional role to restrict access'
CLIENT_ID='Frontend client ID'

# Required for experimental use
FRONTEND_URL='Frontend URL'
FRONTEND_AUTH_SECRET='Frontend auth secret'
