# Public key of keycloak remains constant in this configuration
OIDC_PUBLIC="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuFmMNJvIj2ssDJRUI9HuRtUvIgJWAxS6bHMEQcQF3Af9LKSxB546VwO6k+u2CdvOBpwTdLp7TiwRv65RUoWwTuksnLRCjxKGNaVmN3mPwiIefhrHckReTHdN4snst9RQK/E6Re9eKe4sDkdkkIH7wG16jkwaYkz6x+8RJqskVvXO/0sFvLbou8Yvz82CpjebI8RigefNUGyszwAkmK69WAmZZPPsIPZlsj0lQlFMkOntSVkzICvC5P7+GPqcDlB3aOAnmTxuSEmju/Ac8wYFF5Z0asN+elPrt41MxdG4xYRg9G2wyZ5GKXdczcUpHn32PCzYndbClmU6b7M8GHPs7QIDAQAB"
OIDC_AUTHORITY="http://keycloak:8082/realms/master/"

# Frontend setup
LOCAL_FRONTEND_AUTH_ORIGIN="http://localhost:3000/api/auth"
LOCAL_BACKEND_API_URL="http://localhost:8080/shepard/api"

# Neo4j setup
NEO4J_USER="neo4j"
NEO4J_PW="shepardshepard"

# MongoDB Setup
MONGO_ROOT_USERNAME="admin"
MONGO_ROOT_PASSWORD="password"

MONGO_DATABASE="database"
MONGO_USERNAME="username"
MONGO_PASSWORD="password"

# Grafana Setup
GRAFANA_ADMIN_USERNAME="shepard"
GRAFANA_ADMIN_PASSWORD="secret"

# Postgres Setup
POSTGRES_DB="postgres"
## These are the credentials for the postgres admin account
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
## These are the credentials for the shepard user account
POSTGRES_SHEPARD_USER="shepard"
POSTGRES_SHEPARD_USER_PW="shepard_secret"

SHEPARD_MIGRATION_MODE_ENABLED="false"

# Enable automatic conversion of integer values to double for time series with type double.
# For more information see https://gitlab.com/dlr-shepard/shepard/-/merge_requests/717
SHEPARD_AUTOCONVERT_INT="true"

# Configure docker profiles to enable experimental features
COMPOSE_PROFILES="tryout"
